@import url('https://fonts.googleapis.com/css?family=Saira:300,400,700');



/*reset*/

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


li{list-style-type: none;
text-decoration: none;}

a {text-decoration: none;}

body {  background: #98a2ff;
        font-family: 'saira', sans-serif;
    
   
    }



/*header*/

header {
    background: #fc4f20;
    width: 100%;
    height: 3rem;
        
}


.contenedormenu { 
    width: 100%;
    padding: 0rem, 0rem; 
    background: #faf5fa; 
    position: absolute;
    top:0; left: 0;
    height: 4rem;
   
}

.contenedormenu img { height: 3rem;
                padding: 0.5rem; 
    
                    }
.contenedormenu .logoxamedis {
    display: none;
}
.contenedormenu .logoxamediscerrado {
    height: 4rem;
    padding: 1rem;
    
}

.btn-menu { height: 4rem;
   padding: 0.5rem;

    text-align: center;

    color: #602b7c;
    position: absolute; top: 0; right: 0; 
             
}




.menu { background: #b7d997;
        width: 100%;
    height: 0;
    overflow: hidden;
   transition:height 0.5s;
}

.open {height: 12rem;}

nav ul li { 
    width: 100%;    
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    
    
    }

nav ul li a {
    font-size: 0.8rem;
    font-family: "saira";
    height: 4rem;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color: #602b7c;
    background: #D9F2C2;
}

nav ul li a:hover {
    color: #ffffff;
    background: #80c241;
}


/*INICIO*/

.inicio{
    width: 100%;
    background: #fff;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    
}
.inicio img {
    width: 70%;
    margin: 10rem auto 5rem;
  
   
    
}
p {
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 0.8rem;
    color: #120C11
    
    
}
.inicio .boton {
    margin: 6rem auto; 
    padding: 0.8rem 2rem;
    background: #80C241;
    border-radius: 12px;
    color: #fff;
    
    
}
.inicio .boton a {
    font-size: 1rem;
    color: #fff;
}

/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */
/* R E S P O N S I V E */

@media (min-width:60rem){
    
    * {
  margin: 0;
  padding: 0; 
}
    
    /* header */
   
    
.contenedormenu { width: 100%;
    height: 4rem;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    background: #D9F2C2;
    
    

}

.logoxamedis  {height: 4rem; 
                width: 50%;
                padding: 0rem 1rem;
                align-content: center;
}

.contenedormenu img { width: auto;
                height: 4rem;
            padding: 0rem;
                  }
.contenedormenu .logoxamediscerrado {
    display: none;
}
 .contenedormenu .logoxamedis {
        display: block
    }
    
.btn-menu {display: none;}
.menu {background: #D9F2C2;
        height: 4rem;
    
    transition: height 0s;
    width: 50%;
    }
    
    
nav ul { display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
    height: 4rem;
    background: #D9F2C2;
	}
    
.menu nav ul li  { width: 25%;

    
  
    
    }
    
    
/*inicio*/
    
    
    
    .inicio {
        
        background: #fff;
        height: 900px;
    }
    
    
    
    /*gettinfstarted*/
    
    
    
    .gettingstarted {
        
        background: #D9F2C2;
        height: 900px;
    }
    
    
    
    /*seccion1*/
    
    
    
    .seccion1 {
        
        background: #fff;
        height: 900px;
    }